:root{
  --font-color:#2e2e2e;
  --light-color:#ffdab9;
  --dark-color: #f08080;
  --white-color: #fff;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
*,::after,::before{margin:0;box-sizing:inherit;word-break:inherit}
html{text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body,html{min-height:100%}
*{box-sizing:inherit}
body{box-sizing:border-box}
input{line-height:normal;border-radius:0;box-shadow:none}
input[type=submit]{-webkit-appearance:none}
button[type=submit],input[type=submit]{cursor:pointer}
button,input,select,textarea{font:inherit}
li{list-style:none}

body{background:var(--light-color);font-family:Montserrat,sans-serif;color:var(--font-color)}
.form-wrapper{display: flex; border-radius: 5px; overflow: hidden;transition:all 0.3s ease-out}
.container{min-height:100vh;display:flex;align-items:center;justify-content:center}
.search-input{border:0;height:42px;width:280px;padding:0 13px;outline:0;color:var(--font-color);font-weight:500;pointer-events:none}
.search-input::placeholder{color:var(--font-color);transition:opacity 0.3s ease-out}
.search-btn{width:42px;height:42px;background:var(--dark-color);display:flex;align-items:center;justify-content:center;font-size:21px;color:var(--white-color);cursor:pointer;z-index:1}
.search-input:focus::placeholder{opacity:0}
.form-wrapper:focus-within{box-shadow:0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15)}
.search-form{width:0;transition:width 0.3s ease-out}
.form-wrapper.active .search-form{width:280px}
.form-wrapper.active .search-input{pointer-events:auto}